<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse" data-target="#top-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">ImgRepo</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="top-navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="#">Test Link</a>
          </li>
          <li>
            <a href="#">Test Link</a>
          </li>
        </ul>
        {{#if session.isAuthenticated}}
          Logged in as {{session.currentUser.displayName}}
          <button {{action "signOut"}}>Sign out</button>
        {{else}}
          <button {{action "signIn" "password"}}>Sign in</button>
          <button {{action "register"}}>Register</button>
        {{/if}}
      </div> <!-- /.navbar-collapse -->
    </div> <!-- /.container-fluid -->
  </nav>
</header>
<div class="container">
  <button {{action "showModalDialog" "HAAIIIII BYOCH"}}>Toggle Modal</button> <!-- onClose="toggleModal"-->
  {{#if isShowingModal}}
  <!-- need to setup conditionals to display a different modal based on the modal called -->
  {{#modal-dialog translucentOverlay=true close='closeModalDialog'}}
    <h2>{{modalMessage}}</h2>
  {{/modal-dialog}}
  {{/if}}
  {{outlet}}
</div>
