<div class="container-fluid">
  <div class="row">
    <div class="col-xs-1 col-sm-2 col-md-3">
      <br><br>
      {{#if showPrevious}}
        {{#link-to 'post' prevPost (query-params myIndex=prevIndex posts=posts)}}
          <button class="btn btn-primary">prev!</button>
        {{/link-to}}
      {{/if}}
      <br><br>
    </div>
    <div class="col-xs-10 col-sm-8 col-md-6">
      <br>
      <h1>{{model.post.title}}</h1>
      <br>
      <h4> by {{model.user.displayName}}
        <small><i>{{model.post.dateSubmitted}}</i></small>
      </h4>
      <br>
      <center><img src="{{model.post.downloadURL}}" alt="" class="img-responsive img-rounded" /></center>
      <br>

      <img src="/assets/images/up.png" {{action 'doUpVote' model.post}} style="cursor: pointer;"/>
      <br/>
      <i style="position:relative; left:25px;">{{model.post.score}}</i>
      <br/>
      <img src="/assets/images/down.png" {{action 'doDownVote' model.post}} style="cursor: pointer;"/>
      <br/>
      <h4>Comments:</h4>

      {{#if session.isAuthenticated}}
        <form {{action "postComment" model.post.id session.currentUser.uid on="submit"}}>
          <div class="form-group">
            {{textarea value=model.comment.comment
              class="form-control" name="comment" required=true}}
          </div>
          <button type="submit" class="btn btn-primary btn-block">Post Comment</button>
        </form>
      {{/if}}

      {{#each model.comments as |comment|}}
        <div class="media">
          <!--NOTE: remove if there are no profile images-->
          <!--TODO: GET USERPROFILE IMG-->
          <!-- <div class="media-left">
            <img src="../../../public/assets/images/sasquatch_th.png" class="media-object" style="width:45px">
          </div>-->
          <div class="media-body">
            <h4 class="media-heading">{{comment.user.email}}
              <!-- TODO: need to make comment.username a linkto to the user profile -->
              <small><i>{{comment.dateSubmitted}}</i></small>
            </h4>
            <p>{{comment.comment}}</p>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="col-xs-1 col-sm-2 col-md-3">
      <br><br>
      {{#if showNext}}
        {{#link-to 'post' nextPost (query-params myIndex=nextIndex posts=posts)}}
          <button class="btn btn-primary">next!</button>
        {{/link-to}}
      {{/if}}
      <br><br>
    </div>
  </div>
</div>
