<div class="container-fluid">
  <div class="row">
    <div class="col-xs-1 col-sm-2 col-md-3">
      <br><br>
      {{#if showPrevious}}
        {{#link-to 'post' prevPost (query-params myIndex=prevIndex posts=posts)}}
           <button class="btn btn-primary">{{fa-icon "chevron-left"}}</button>
        {{/link-to}}
      {{/if}}
      <br><br>
    </div>
    <div class="col-xs-10 col-sm-8 col-md-6">
      <br>
      <h1>{{model.title}}</h1>
      <br>
      <h4> by {{model.user.displayName}}
        <small><i>{{model.dateSubmitted}}</i></small>
      </h4>
      <br>
      <a href={{model.downloadURL}}>
        <center>
          <img src="{{model.downloadURL}}" alt="" class="img-responsive img-rounded"/>
        </center>
      </a>
      <br>
      <span class="">{{fa-icon "arrow-up"}}</span>
      <span class="">{{fa-icon "arrow-down"}}</span>
      <small><i>{{model.score}}</i></small>
      <br>
      <h4>Comments:</h4>

      {{#if session.isAuthenticated}}
      <form {{action "postComment" model.id session.currentUser.email on="submit"}}>
        <div class="form-group">
            {{textarea value=newcomment
              class="form-control" name="comment" required=true}}
        </div>
        <button type="submit" class="btn btn-primary btn-block">Post Comment</button>
      </form>
      {{/if}}


      {{#each model.comments as |comment|}}
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">{{#link-to "user" session.currentUser.email}}{{comment.user}}{{/link-to}}
              <small><i>{{comment.dateSubmitted}}</i></small>
            </h4>
            <p>{{comment.comment}}</p>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="col-xs-1 col-sm-2 col-md-3">
      <br><br>
      {{#if showNext}}
        {{#link-to 'post' nextPost (query-params myIndex=nextIndex posts=posts)}}
           <button class="btn btn-primary">{{fa-icon "chevron-right"}}</button>
        {{/link-to}}
      {{/if}}
      <br><br>
    </div>
  </div>
</div>
